# Environments
.env.local
.env.*.local

# npm
node_modules/

# Generated Styles
view/static/css/styles.css

# Templ generated code
*_templ.go
*_templ.txt

# Gorm generated code
gen.go
*.gen.go

# overmind
.overmind.sock

# macOS
.DS_Store

# Temporary test code
cmd/fiddle

# Misc
out
tmp
__debug_bin*
