# Environments
.env.local
.env.*.local

# Templ generated code
*_templ.go
*_templ.txt

# Gorm generated code
gen.go
*.gen.go

# overmind
.overmind.sock

# macOS
.DS_Store

# Misc
out
tmp
__debug_bin*
