package layouts

templ Page(message string) {
	<html>
		<head>
			<meta name="color-scheme" content="light dark"/>
			<title>Finances</title>
		</head>
		<body>
			<div>{ message }</div>
		</body>
	</html>
}
