package layouts

templ Page() {
	<html>
		<head>
			<meta name="color-scheme" content="light dark"/>
			<title>Finances</title>
			<script src="/js/htmx.min.js"></script>
		</head>
		<body>
			<div>
				FINANCES
			</div>
			<hr/>
			{ children... }
		</body>
	</html>
}
