package layouts

import "github.com/adeynack/finances/model"
import "github.com/adeynack/finances/view/templates/userComponents"

templ Page(message string,users []*model.User) {
	<html>
		<head>
			<meta name="color-scheme" content="light dark"/>
			<title>Finances</title>
		</head>
		<body>
			<div>{ message }</div>
			@userComponents.UsersWithBooks(users)
		</body>
	</html>
}
